
{% extends 'base/base.html' %}
{% include 'base/messages.html' %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}
    
    <div class= "container">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <hr>
                    <input class ="btn btn-primary" type="submit" value="Gonder">
                </form>
            </div>

        </div>
    
    </div>

    

{% endblock content %}

    